.container {

  section {
    width: 100vw;
    height: 100vh;
    
    &.yellow {
      background: #ccf;
    }
    
    &.red {
      background: #ecf;
    }
    
    &.green {
      background: #ced;
    }

    &.blue {
      background: #dcf;
    }

  }

}